body {
    font-family: sans-serif;
}

  h1 {
    text-align: center;
    font-size: 40px;
  }
  
  .profile{
    background-color: rgb(170,170,200);
  }

  h2 {
    font-weight: bold;
    text-align: left;
  }
  
  .animal{
    display: inline-block;
  }

  .name {
    color: darkblue;
  }
  
  h3, .description {
    font-style: italic;
  }

    img {
    width: 25%;
  }

  /* FOOTER */
  footer {
    font-size: 14px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }