body {
    font-family: Arial;
    background-color: #FAF1EA;
  }
  
  .show {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  h1 {
    text-align: center;
    color: rgb(59, 59, 162)
  }
  
  h2 {
    font-weight: bold;
  }
  p{
    font-style: italic;  
  }

  img{
    max: width 50%;;
    float: right;
    margin-right: 15px;
  }
