body {
  font-family: Arial;
  background-color: #FAF1EA;
}

.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: lightblue; 
    overflow-x: hidden; 
    padding-top: 20px;
    border: solide black;
    padding: 2px;
    margin-left: 2px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .body-text {
      margin-left: 150px;
      font-size: 18px;
      }

  h1 {
    text-align: center;
    color: rgb(59, 59, 162)
  }
  
  h2 {
    font-weight: bold;
  }
  p{
    font-style: italic;  
  }

  img{
    max: width 50%;;
    float: right;
    padding-right: 5px;
  }
